<h2><%= @restaurant.name %></h2>
<%= @restaurant.address %><br />
<%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip_code %>

<p><%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>
