<!DOCTYPE html>
<html>
<head>
  <title>EatVegan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">EatVegan</a>
        <ul class="nav">
          <li><a href="<%= root_path %>">Home</a></li>
        </ul>
        <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li><strong><%= current_user.name %></strong></li>
              <li><%= link_to "Log Out", signout_path, id: "sign_out" %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Facebook Login", "/auth/Facebook", id: "sign_in" %></li>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
    <%= render "layouts/messages" %>
    <%= yield %>
    </div>
  </div>
</body>
</html>
